html, body {
  height: 100%;
  width: 100%;
  background-color: #231f20;
}
#root {
  height: 100%;
}
textarea {
  width: 100%;
  resize: vertical;
  color: #2c2c2c;
  border: none;
}
textarea:focus {
  outline: none !important;
  border:1px solid #6435c9;
}
ul {
  background-color: #231f20 !important;
}
pre {
  white-space: pre-wrap;
  color: rgb(12, 127, 149);
}
.button {
  width: 100%;
  background: #b4b934;
  color: #ffffff;
}
.mainColumn {
  background-color: white;
}
.ouputColumn {
  min-height: 10rem;
  width: 100%;
  margin-top: -1rem;
  word-wrap: break-word;
}
